<eml:eml xmlns:eml="https://eml.ecoinformatics.org/eml-2.2.0"
         xmlns:dc="http://purl.org/dc/terms/"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://eml.ecoinformatics.org/eml-2.2.0 xsd/eml.xsd"
         packageId="todo {{ packageid }}"
         system="http://gbif.org"
         scope="system"
         xml:lang="eng">
  <dataset>
    {% for identifier in alternate_identifiers %}
      <alternateIdentifier>{{ identifier }}</alternateIdentifier>
    {% endfor %}
    <title xml:lang="eng">{{ title }}</title>
    {% for contact in resource_creators %}
      <creator>
        {% include 'eml-contact.html.twig' %}
      </creator>
    {% endfor %}
    {% for contact in metadata_providers %}
      <metadataProvider>
        {% include 'eml-contact.html.twig' %}
      </metadataProvider>
    {% endfor %}
    {% for contact in resource_contacts %}
      <contact>
        {% include 'eml-contact.html.twig' %}
      </contact>
    {% endfor %}
    {% if date_last_published %}
      <pubDate>{{ date_last_published }}</pubDate>
    {% endif %}
    <language>todo {{ language }}</language>
    <abstract>
      {% for para in description %}
        <para>{{ para }}</para>
      {% endfor %}
    </abstract>
    {% for set in keyword_sets %}
      <keywordSet>
        {% for keyword in set.keywords|split(',') %}
          <keyword>{{ keyword|trim }}</keyword>
        {% endfor %}
        <keywordThesaurus>{{ set.thesaurus_vocabulary }}</keywordThesaurus>
      </keywordSet>
    {% endfor %}
    <intellectualRights>
      <para>
        This work is licensed under a
        <ulink url="{{ licence_url }}">
          <citetitle>{{ licence_name }}</citetitle>
        </ulink>
        .
      </para>
    </intellectualRights>
    <distribution scope="document">
      <online>
        <url function="information">todo {{ resource_homepage }}</url>
      </online>
    </distribution>
    <coverage>
      <geographicCoverage>
        <geographicDescription>{{ geographic_description }}</geographicDescription>
        {% if west_coord and east_coord and north_coord and south_coord %}
          <boundingCoordinates>
            <westBoundingCoordinate>{{ west_coord }}</westBoundingCoordinate>
            <eastBoundingCoordinate>{{ east_coord }}</eastBoundingCoordinate>
            <northBoundingCoordinate>{{ north_coord }}</northBoundingCoordinate>
            <southBoundingCoordinate>{{ south_coord }}</southBoundingCoordinate>
          </boundingCoordinates>
        {% endif %}
      </geographicCoverage>
      {% for coverage in temporal_info %}
        <temporalCoverage>
          <rangeOfDates>
            <beginDate>
              <calendarDate>{{ coverage.start_date }}</calendarDate>
            </beginDate>
            <endDate>
              <calendarDate>{{ coverage.end_date }}</calendarDate>
            </endDate>
          </rangeOfDates>
        </temporalCoverage>
      {% endfor %}
    </coverage>
    <purpose>
      <para>{{ dataset_purpose }}</para>
    </purpose>
    <maintenance>
      {% if maintenance_description %}
        <description>
          <para>{{ maintenance_description }}</para>
        </description>
      {% endif %}
      <maintenanceUpdateFrequency>{{ update_frequency }}</maintenanceUpdateFrequency>
    </maintenance>

    <methods>
    {% for step in step_descriptions %}
      <methodStep>
        <description>
          <para>{{ step }}</para>
        </description>
      </methodStep>
    {% endfor %}
      <sampling>
        <studyExtent>
          <description>
            <para>{{ study_extent }}</para>
          </description>
        </studyExtent>
        <samplingDescription>
          <para>{{ sampling_description }}</para>
        </samplingDescription>
      </sampling>
      {% if quality_control %}
      <qualityControl>
        <description>
          <para>{{ quality_control }}</para>
        </description>
      </qualityControl>
      {% endif %}
    </methods>
    <project{% if project_identifier %} id="{{ project_identifier }}"{% endif %}>
      <title>{{ project_title }}</title>
      {% for person in project_personnel %}
      <personnel>
        <individualName>
          {% if person.first_name %}
          <givenName>{{ person.first_name }}</givenName>
          {% endif %}
          <surName>{{ person.surname }}</surName>
        </individualName>
        {% if person.personnel_directory and person.personnel_identifier %}
        <userId directory="{{ person.personnel_directory }}">{{ person.personnel_identifier }}</userId>
        {% endif %}
        <role>author</role>
      </personnel>
      {% endfor %}
      {% if project_description %}
      <abstract>
        <para>{{ project_description }}</para>
      </abstract>
      {% endif %}
      {% if project_funding %}
      <funding>
        <para>{{ project_funding }}</para>
      </funding>
      {% endif %}
      {% if project_study_area_description %}
      <studyAreaDescription>
        <descriptor name="generic" citableclassificationsystem="false">
          <descriptorValue>{{ project_study_area_description }}</descriptorValue>
        </descriptor>
      </studyAreaDescription>
      {% endif %}
      {% if project_design_description %}
      <designDescription>
        <description>
          <para>{{ project_design_description }}</para>
        </description>
      </designDescription>
      {% endif %}
    </project>
  </dataset>
  <additionalMetadata>
    <metadata>
      <gbif>
        <citation>{{ resource_citation }}</citation>
        {% if resource_citation_identifier %}
          <citationIdentifier>{{ resource_citation_identifier }}</citationIdentifier>
        {% endif %}
      </gbif>
    </metadata>
  </additionalMetadata>
</eml:eml>